*.owl
*.pyc
parte1/planificacion/trabajo/diagrams/ampliacion1
parte1/planificacion/trabajo/diagrams/ampliacion2
parte1/planificacion/trabajo/memoria/dominio_emergencias.odt
parte1/planificacion/trabajo/diagrams/dominio_ambulacias
parte1/planificacion/trabajo/diagrams/componentes
parte1/planificacion/trabajo/memoria/dominio_emergencias.pdf

venv/
